= render "devise/shared/side_header"
.Contents
    .Main-header
        .Main-header__box
            .Main-header__box__upper
                %h1 group1
                %p Member: ryoma
            .Main-header__btn
                Edit
    .Messages
        .Messages__box
            %h1 ryoma
            %h2 2019/06/20
            %h3 hello, world!

    .form
        %form
            %input.form__message
            .form__mask
                %label.form__mask__image
                    = fa_icon 'picture-o', class: 'icon'
                    %input.hidden{type: 'file'}
            %input.form__submit{type: 'submit', value: 'Send'}
